.EditProfileFormRegUser{
    width: 100%;
    margin: auto;
    position: relative;
    top:15px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;

}

.EditProfileFormRegUserOuter{
    border: 7px solid white;
    width:45%;
    margin: auto;
    position: relative;
    top:-5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #cde0ef;
    box-shadow: 2px 2px 2px #cde0ef ;
}

.EditProfileFormRegUserInner{
    background-color: white;
    width: 95%;
    position: relative;
    margin: 10px;
    padding: 20px;
}

.EditProfileFormRegUserH3{
    color: #0A499C;
    font-family: 'Amiri', sans-serif;
    text-align: center;
    position: relative;
    top: 10px;
}
.EditProfileFormRegUser form{
    width: 100%;
    text-align: center;
}

.EditProfileFormRegUser div input{
    border: 1px solid #0A499C;
    width: 80% !important;
    text-align: right;
    padding: 10px;
    margin: 10px;
}

.EditProfileFormRegUser div input:focus {
    outline: none;
}

.EditProfileSubmitRegUser{
    margin-top: 14px!important;
    margin-bottom: -5px!important;
    background-color: #cde0ef!important; /* Light blue background */
    color: #333!important; /* Text color */
    padding: 10px 20px!important; /* Spacing around text */
    border: none!important; /* Remove border */
    border-radius: 4px!important; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)!important; /* Shadow effect */
    cursor: pointer!important; /* Pointer cursor on hover */
    font-size: 16px!important; /* Font size */
    font-weight: bold!important; /* Font weight */
    text-align: center!important;
    font-family: Amiri,cursive;
}

.EditProfileSubmitRegUser:hover{
    background-color: #b3d8f1!important; /* Slightly darker on hover */
}

.error2 {
    color: red;
    font-size:12px;
    text-align: right;
    margin-right: 45px;
    height: 0;
    margin-top: -10px;
    padding-bottom: 5px;
}

.EditProfileFormRegUser form label{
    text-align: center;
    background-color: #cde0ef;
    padding: 2px;
    position: absolute;
    right: 70px;
    border-radius: 15px;
    font-size: 13px;
    width: 90px;
}


.FlagToInformationRegisterBtn{
    font-size:30px;
    position: relative;
    right:40px;
    /*background:none;*/
    border: none;
    color: white;
    top:12px;
    border-radius:50%;
    background-color:#cde0ef;
    padding: 2px 10px;
    box-shadow: 1px 1px 1px gray;
}
.FlagToInformationRegisterPrivacyBtn{
    font-size:30px;
    position: relative;
    right: 70px;
    /*background:none;*/
    border: none;
    color:  white;
    top:12px;
    border-radius:50%;
    background-color:#cde0ef;
    padding: 2px 10px;
    box-shadow: 1px 1px 1px gray;
}
.FlagToInformationRegisterBtn.active {
    color: #0A499C;
}

.FlagToInformationRegisterPrivacyBtn.active {
    color: #0A499C;
}

@media (min-width : 320px) and (max-width: 768px) {
    #EditProfileRegUser{
        /*border:1px solid red;*/
        margin-top: 5px;
    }#EditProfileRegUser .EditProfileFormRegUserOuter{
         /*border:1px solid pink;*/
         width: 400px;
         margin-top: 30px;
    }

     #EditProfileRegUser #EditProfileRegUserBtn1 button{
         position: absolute;right: -310px;
         top:18px;
     }#EditProfileRegUser #EditProfileRegUserBtn2 button{
         position: absolute;
         right: -205px;top:18px;
     }#EditProfileRegUser #EditProfileRegUserProgress{
         position: absolute;
         /*right: -204px;*/
         right: 180px !important;
         top: 50px;
         /*border: 1px solid red;*/
     }
}