.RestOut{
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    /*top:50px*/
}
.ResetOuter{
    border: 7px solid white;
    width:35%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #cde0ef;
    box-shadow: 2px 2px 2px #cde0ef ;
}

.ResetInner{
    background-color: white;
    width: 95%;
    position: relative;
    margin: 10px;
    padding: 10px;
}
.ResetInner form{
    width: 100%;
    text-align: center;
}
.ResetInner div input{
    border: none;
    border-bottom: 1px solid #0A499C;
    width: 80% !important;
    text-align: right;
}
.ResetInner div input:focus{
    outline: none;
}

.ResetSubmit{

    width: 150px!important;
    margin-top: 25px;
    background-color: #cde0ef; /* Light blue background */
    color: #333; /* Text color */
    padding: 10px 20px; /* Spacing around text */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    font-weight: 500; /* Font weight */
}

.ResetSubmit:hover{
    background-color: #b3d8f1; /* Slightly darker on hover */
}
.errorRest{
    color: red;
    font-size:12px;
    text-align: right;
    margin-right: 35px;
    height: 0;
}

@media (min-width : 320px) and (max-width: 768px) {
    #ResetPassword{
        width: 90%;
        /*border: 1px solid red;*/
    }#ResetPassword .ResetOuter{
         width: 100%;
         /*border: 1px solid pink;*/
     }#ResetPassword .ResetInner{
          width: 97%;
          /*border: 1px solid green;*/
      }
}